<!DOCTYPE html>
<html>
<head>
	<title>Ling Prog</title>

	<meta charset="utf-8">
	<link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
	<script src="{{url_for('static', filename='jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
	<!-- <script src="{{url_for('static', filename='validator.js')}}"></script> -->

</head>
<body>
	<div class="container">
		{% block body %}
		{% endblock %}	
	</div>
	


	
</body>
</html>