{% extends 'layout.html' %}

{% block body %}

	<div>
		<h1>Bem Vindo {{usuario}}</h1>

		<form style="margin: 0 auto; width: 50%;" action="/buscarDisciplinas" method="POST" >

			<div style="text-align: center; " class="form-inline">
				<select class="form-control" id="exampleFormControlSelect1">
					<option value="" selected hidden>Curso</option>
					<option>Engenharia de Computacao</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
				<input type="submit" class="btn btn-default" name="buscarDisciplinas" value="Buscar">
			</div>
		</form>

		<form  action="/downloadPDF" method="POST">
			{% for i in disciplinas: %}
				<p style="display:inline">
					<input type="checkbox"  name="disciplinas" value={{i}}>
					<h4 style="display:inline" >{{i}} - {{disciplinas.index(i)}}</h4>
				</p>
			{% endfor %}
			<input type="submit" class="btn btn-default" name="baixaPDF" value="Baixar PDF">
		</form>
		
	</div>

{% endblock %}